<!DOCTYPE html>
<html lang="cn-ZH"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<footer class="footer" data-th-fragment="footer">
    <div class="container-fluid">
        <p class="text-center">© 2017 <a href="#">MRobot</a></p>
    </div>

    <!-- JavaScript -->
    <script src="../../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script src="../../static/js/popper.js" th:src="@{/js/popper.js}"></script>
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../../static/js/toastr.min.js" th:src="@{/js/toastr.min.js}"></script>

    <!-- Customer JavaScript -->
    <script src="../../static/js/customer/left-menu.js" th:src="@{/js/customer/left-menu.js}"></script>
</footer>

</body>
</html>