<!DOCTYPE html>
<html lang="cn-ZH" data-th-fragment="sign-head"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../static/css/toastr.min.css" th:href="@{/css/toastr.min.css}">

    <!-- Costumer CSS -->
    <link rel="stylesheet" href="../../static/css/customer/sign.css"
          th:href="@{/css/customer/sign.css}">
    <link rel="stylesheet" href="../../static/css/customer/sticky-footer.css"
          th:href="@{/css/customer/sticky-footer.css}">

</head>
<body>
</body>
</html>