<!DOCTYPE html>
<html lang="cn-ZH"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/sign-head :: sign-head}">
</head>
<body>

<div class="container">

    <form class="form-sign" th:action="@{/login}" th:method="post">
        <h1 class="form-sign-heading text-center"><strong>MRobot</strong><br/>模型管理系统</h1>
        <label for="inputUsernameOrEmail" class="sr-only">用户名</label>
        <input type="text" id="inputUsernameOrEmail" name="username" class="form-control"
               placeholder="Username or email address" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> 记住我
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
        <div class="text-center text-muted">
            <a href="#">忘记密码</a>
            |
            <a href="#">加入我们</a>
        </div>
    </form>
</div>
<!-- /container -->

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>